.program {
  background-color: #282733;
  padding: 10px;
  margin-right: 10px;
  max-height: 400px;
  max-width: 250px;
  width: 100%;
}

.program_selected {
  scale: 1.1;
  background-color: #5F5D71;
}

.program,
.program__image {
  border-radius: 25px;
}

.program__image {
  overflow: hidden;
  max-height: 200px;
  height: 100%;
}

.program__image img {
  display: block;
  height: 100%;
}

.program__info {
  color: #ffffff;
  width: 100%;
}

.info__name {
  font-size: 1.4rem;
  opacity: .9;
}

.info__description {
  font-size: 1rem;
  opacity: 0.5;
}